body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: beige;
  height: 100vh;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  margin-top: 25px;
  text-align: center;
}

#instructions-container {
  background-color: white;
  border-color: black;
  border-style: solid;
  max-width: 400px;
  text-align: left;
  margin: 0 auto;
}

h3 {
  font-size: 21px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#buttons-container {
  margin-top: 10px;
}

.game-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 10px;
}

.hidden {
  display: none;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  margin-top: 5px;
}

.grid-button {
  width: 115px;
  height: 115px;
  opacity: 1;
  cursor: pointer;
  padding: 0;
}

.timer-container {
  background-color: white;
  border-color: black;
  border-style: solid;
  width: 122px;
  height: 76px;
  display: flex;
  flex-direction: column;
  margin-top: -76px;
  margin-right: 166px;
}

.score-container {
  background-color: white;
  border-color: black;
  border-style: solid;
  margin-top: 3px;
  width: 133px;
  height: 77px;
  margin-left: 155px;
}

@media only screen and (max-width: 600px) {

  /* Adjust styles for screens up to 600px wide */
  .score-container,
  .timer-container {
    width: 100px;
  }
}

.timer {
  font-size: 25px;
}

#timer {
  font-size: 25px;
}

.score {
  font-size: 25px;
}

#score {
  font-size: 25px;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 600px) {

  /* Adjust styles for screens up to 600px wide */
  .container {
    margin-top: 15px;
  }

  #instructions-container {
    max-width: 300px;
  }

  .grid-button {
    width: 90px;
    height: 90px;
  }

  .timer {
    font-size: 20px;
  }

  #timer {
    font-size: 15px;
  }

  .score {
    font-size: 20px;
  }

  #score {
    font-size: 15px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

  /* Adjust styles for screens between 601px and 1024px wide */
  .container {
    margin-top: 20px;
  }

  #instructions-container {
    max-width: 600px;
  }
}

#gameOverMessage {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 33px;
  color: rgb(0, 0, 0);
  text-shadow: rgb(255, 255, 255) 1px 1px;
}